<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tabla Calificaciones</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">

	<!-- Enlace al archivo CSS de Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- Enlace al archivo JavaScript de jQuery (necesario para algunas funciones de Bootstrap) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Enlace al archivo JavaScript de Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

	
	<!--FONT-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/css/cali.css">

</head>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var nivelCells = document.querySelectorAll("td[class^='nivel-']");

		nivelCells.forEach(function (cell) {
			var nivel = cell.textContent.trim();
			if (nivel === "4") {
				cell.classList.add("nivel-verde");
			} else if (nivel === "3") {
				cell.classList.add("nivel-amarillo");
			} else if (nivel === "2") {
				cell.classList.add("nivel-azul");
			} else if (nivel === "1") {
				cell.classList.add("nivel-rojo");
			} 
		});
	});
</script>


<script>
	function calcularNivel(puntaje) {
		if (puntaje == 0) {
			return 0;
		} else {
			return "N/A"; // Puedes cambiar esto según tu lógica si el puntaje no está en ningún rango.
		}
	}
</script>
<script>
	function calcularNivel(puntaje) {
		if (puntaje >= 191 && puntaje <= 300) {
			return 4;
		} else if (puntaje >= 156 && puntaje <= 190) {
			return 3;
		} else if (puntaje >= 126 && puntaje <= 155) {
			return 2;
		} else if (puntaje > 0 && puntaje <= 125) {
			return 1;
		} else if (puntaje == 0) {
			return 0;
		} else {
			return "N/A"; // Puedes cambiar esto según tu lógica si el puntaje no está en ningún rango.
		}
	}

	function calcularIngles(puntaje) {
		if (puntaje >= 191 && puntaje <= 300) {
			return "B2";
		} else if (puntaje >= 156 && puntaje <= 190) {
			return "B1";
		} else if (puntaje >= 140 && puntaje <= 155) {
			return "A2";
		} else if (puntaje >= 125 && puntaje <= 140) {
			return "A1";
		} else if (puntaje >= 0 && puntaje <= 125) {
			return "A0";
		} else {
			return "N/A"; // Puedes cambiar esto según tu lógica si el puntaje no está en ningún rango.
		}
	}

</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var rows = document.querySelectorAll("table tbody tr");

		rows.forEach(function (row) {
			var anuladoCell = row.querySelector("td:nth-child(3)"); // 3 es el índice de la columna "Anulado"

			if (anuladoCell.textContent.trim().toLowerCase() === "si") {
				row.style.backgroundColor = "#FF8A81"; // Aplica un fondo rojo a toda la fila
			}
		});
	});
</script>




<body
	

    <!-- Barra de navegación principal -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Contenido de la barra de navegación principal -->
            <a class="navbar-brand" href="#">
              
            </a>



            <div class="button-container" >
                <button class="button_list" >
                    <a th:href="@{/coordinadores/}" style="color: rgb(255, 128, 255); text-decoration: none;">
                        <span style="font-size: 120%; padding-left: 5px; padding-right: 5px;">Lista de coordinadores</span>
                    </a>
                </button>
                <button class="button_list" >
                    <a th:href="@{/estudiantes/}" style="color: rgb(128, 128, 192); text-decoration: none;">
                        <span style="font-size: 120%; padding-left: 5px; padding-right: 5px;">Lista de estudiantes</span>
                    </a>
                </button>
                <button class="button_list" >
                    <a th:href="@{/calificaciones/}" style="color: rgb(255, 255, 128); text-decoration: none;">
                        <span style="font-size: 120%; padding-left: 5px; padding-right: 5px;">Lista de puntajes</span>
                    </a>
                </button>
            </div>
            <div class="button-container" style="display: inline-block;">
                <button id="btn-login" class="button_cerrar">
                    <a th:href="@{/login}" style="text-decoration: none;">
                        <span style="font-family: 'Roboto Slab', serif; font-weight: bolder; font-size: 120%; padding-left: 5px; padding-right: 5px;">Cerrar sesión</span>
                    </a>
                </button>
            </div>
        </div>
    </nav>
    <hr style="border-top: 2px solid #004899; margin: 0;">
</header>

	<main>
		<div style="display: flex; flex-direction: column;">

			<center>
				<h1 style=" border-radius: 10px; padding: 10px; max-width: 100%; margin: 0;  color: black; margin-top: 20px">
					PUNTAJES</h1>
					
			</center>

			<br>

		</div>
		<div style="overflow: scroll; width: 100%; height: 800px;" class="container ">

			<table class="custom-table table-striped" style="border: 2px solid rgb(255, 128, 128);  text-align: left; color: rgb(0, 0, 255); padding: 10px; border: 0px solid #ddd;">
				<thead style=" background-color: blueviolet;">
					<tr style="border: 2px solid black; font-family: 'Roboto Slab', serif; text-align: center;" class="">
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Cedula</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Numero Registro</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Anulado</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Puntaje Total</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Puntaje Total</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Español</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Español</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Educacion Fisica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Educacion Fisica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Fisica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Fisica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Competencias Ciudadanas</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Competencias Ciudadanas</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Ingles</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Ingles</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Geometria</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>NivelGeometria</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Quimica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Quimica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Informatica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Nivel Informatica</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>BUCAROS INEM MORRORICO</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Editar</strong></td>
						<td style="border: 1px solid #000; vertical-align: middle;"><strong>Eliminar</strong></td>
					</tr>
				</thead>
				<tbody
					style="vertical-align: middle; border: 2px solid black; text-align: center;	padding: 8px; border: px solid #ddd; color: white; align-items: center; color: rgb(0, 0, 0);">
					<tr style="border: 1px solid #000; vertical-align: middle;" th:each="calificacion : ${calificaciones}">
						<td style="border: 1px solid #000; vertical-align: middle;">[[ ${calificacion.estudiante.numeroDocumento} ]]</td>
						<td style="border: 1px solid #000; vertical-align: middle;">[[ ${calificacion.estudiante.numeroRegistro} ]]</td>
						<td style="border: 1px solid #000; vertical-align: middle;">[[ ${calificacion.anulado} ]]</td>
						<script th:inline="javascript">
							var puntaje1 = /*[(${calificacion.puntajeTotal} == 'N/A' ? 0 : ${calificacion.puntajeTotal})]*/ 0;
							var nivel1 = calcularNivel(puntaje1);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel1 + '">' + puntaje1 + '</td>');
						</script>

						<script th:inline="javascript">
							var puntaje1 = /*[(${calificacion.puntajeTotal} == 'N/A' ? 0 : ${calificacion.puntajeTotal})]*/ 0;
							var nivel1 = calcularNivel(puntaje1);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel1 + '">' + nivel1 + '</td>');
						</script>


						<script th:inline="javascript">
							var puntaje2 = /*[(${calificacion.comEscrita} == 'N/A' ? 0 : ${calificacion.comEscrita})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel2 = calcularNivel(puntaje2);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel2 + '">' + puntaje2 + '</td>');
						</script>

						<script th:inline="javascript">
							var puntaje2 = /*[(${calificacion.comEscrita} == 'N/A' ? 0 : ${calificacion.comEscrita})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel2 = calcularNivel(puntaje2);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel2 + '">' + nivel2 + '</td>');
						</script>


						<script th:inline="javascript">
							var puntaje3 = /*[(${calificacion.razonCuantitativo} == 'N/A' ? 0 : ${calificacion.razonCuantitativo})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel3 = calcularNivel(puntaje3);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel3 + '">' + puntaje3 + '</td>');
						</script>

						<script th:inline="javascript">
							var puntaje3 = /*[(${calificacion.razonCuantitativo} == 'N/A' ? 0 : ${calificacion.razonCuantitativo})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel3 = calcularNivel(puntaje3);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel3 + '">' + nivel3 + '</td>');
						</script>

						<script th:inline="javascript">
							var puntaje4 = /*[(${calificacion.lecturaCritica} == 'N/A' ? 0 : ${calificacion.lecturaCritica})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel4 = calcularNivel(puntaje4);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel4 + '">' + puntaje4 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje4 = /*[(${calificacion.lecturaCritica} == 'N/A' ? 0 : ${calificacion.lecturaCritica})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel4 = calcularNivel(puntaje4);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel4 + '">' + nivel4 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje5 = /*[(${calificacion.compeCiudadanas} == 'N/A' ? 0 : ${calificacion.compeCiudadanas})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel5 = calcularNivel(puntaje5);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel5 + '">' + puntaje5 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje5 = /*[(${calificacion.compeCiudadanas} == 'N/A' ? 0 : ${calificacion.compeCiudadanas})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel5 = calcularNivel(puntaje5);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel5 + '">' + nivel5 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje6 = /*[(${calificacion.ingles} == 'N/A' ? 0 : ${calificacion.ingles})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel6 = calcularNivel(puntaje6);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel6 + '">' + puntaje6 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje6 = /*[(${calificacion.ingles} == 'N/A' ? 0 : ${calificacion.ingles})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel6 = calcularNivel(puntaje6);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel6 + '">' + nivel6 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje7 = /*[(${calificacion.formProyectos} == 'N/A' ? 0 : ${calificacion.formProyectos})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel7 = calcularNivel(puntaje7);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel7 + '">' + puntaje7 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje7 = /*[(${calificacion.formProyectos} == 'N/A' ? 0 : ${calificacion.formProyectos})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel7 = calcularNivel(puntaje7);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel7 + '">' + nivel7 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje8 = /*[(${calificacion.penCientifico} == 'N/A' ? 0 : ${calificacion.penCientifico})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel8 = calcularNivel(puntaje8);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel8 + '">' + puntaje8 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje8 = /*[(${calificacion.penCientifico} == 'N/A' ? 0 : ${calificacion.penCientifico})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel8 = calcularNivel(puntaje8);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel8 + '">' + nivel8 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje9 = /*[(${calificacion.disenoSoftware} == 'N/A' ? 0 : ${calificacion.disenoSoftware})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel9 = calcularNivel(puntaje9);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel9 + '">' + puntaje9 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje9 = /*[(${calificacion.disenoSoftware} == 'N/A' ? 0 : ${calificacion.disenoSoftware})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel9 = calcularNivel(puntaje9);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel9 + '">' + nivel9 + '</td>');;
						</script>

						<script th:inline="javascript">
							var puntaje6 = /*[(${calificacion.ingles} == 'N/A' ? 0 : ${calificacion.ingles})]*/ 0; // Reemplaza esto con el valor adecuado
							var nivel = calcularIngles(puntaje6);
							var nivel6 = calcularNivel(puntaje6);
							document.write('<td style="border: 1px solid #000; vertical-align: middle;" class="nivel-' + nivel6 + '">' + nivel + '</td>');;
						</script>
						<td style="border: 1px solid #000; vertical-align: middle;">
							<a class="mx-3 text-success"
								th:href="@{/calificaciones/edit/{id}(id = ${calificacion.id})}">
														<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<path fill="currentColor" d="M16 4c0 0 0-1-1-2s-1.9-1-1.9-1l-1.1 1.1v-2.1h-12v16h12v-8l4-4zM6.3 11.4l-0.6-0.6 0.3-1.1 1.5 1.5-1.2 0.2zM7.2 9.5l-0.6-0.6 5.2-5.2c0.2 0.1 0.4 0.3 0.6 0.5zM14.1 2.5l-0.9 1c-0.2-0.2-0.4-0.3-0.6-0.5l0.9-0.9c0.1 0.1 0.3 0.2 0.6 0.4zM11 15h-10v-14h10v2.1l-5.9 5.9-1.1 4.1 4.1-1.1 2.9-3v6z"></path>
</svg>
							</a>
						</td>
						<td style="border: 1px solid #000; vertical-align: middle;">
							<a class="mx-3 text-danger bolder"
								th:href="@{/calificaciones/delete/{id}(id = ${calificacion.id})}">
																	<svg width="16px" height="16px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-delete">
    
    <title>1227</title>
    
    <defs>

</defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M12.566,8 L15.611,4.956 C16.031,4.535 16.031,3.853 15.611,3.434 L12.566,0.389 C12.146,-0.031 11.464,-0.031 11.043,0.389 L7.999,3.433 L4.955,0.389 C4.534,-0.031 3.852,-0.031 3.432,0.389 L0.388,3.434 C-0.034,3.854 -0.034,4.536 0.387,4.956 L3.431,8 L0.387,11.044 C-0.034,11.465 -0.034,12.147 0.388,12.567 L3.432,15.611 C3.852,16.032 4.534,16.032 4.955,15.611 L7.999,12.567 L11.043,15.611 C11.464,16.032 12.146,16.032 12.566,15.611 L15.611,12.567 C16.031,12.146 16.031,11.464 15.611,11.044 L12.566,8 L12.566,8 Z" fill="currentColor" class="si-glyph-fill">

</path>
    </g>
</svg>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</main>

	<div style="margin-left: 600px; margin-bottom: 30px;">

		<a th:href="@{/calificaciones/new}" class="btn btn-primary"
			style="background-color:#0A0A61; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  margin-top: 2%; color: aliceblue; font-size: 120%;  border-radius: 10px;  border: #00121e;">
			AGREGAR
		</a>
	</div>
</body>

<footer class="sticky-footer text-white" style="background: rgb(0, 128, 255);">
    
    <div class="container text-center mt-4">
        <img src="https://www.icfes.gov.co/documents/39286/190613/logo-gov-co.png" alt="" style="width: 150px;">
    </div>
    <div class="container text-center mt-4">
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Privacidad</span>
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Términos y condiciones</span>
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Política de cookies</span>
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Ajustes de cookies</span>
    </div>
    <div class="container text-center mt-4">
        <p><strong>Copyright © 2023</strong> - Todos los derechos reservados</p>
        <p><strong>Creado por:</strong>	KEVIN RUEDA</p>
    </div>
</footer>


</html>